.container_1 {
    padding: 8rem 0rem 0rem 2rem;
    width: 659px;
    height: auto;
    margin-bottom: 5rem;
}

.form {
    padding: 3rem 5rem 3rem 5rem;
    width: 650px;
    height: 700px;
    font-size: 18px;
    color: #30302E;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 35px;
}

.items div,
.course {
    margin: 1rem 0 1.5rem 2rem;
}

.items span {
    margin-right: 1rem;
    color: #CC4174;
}
.items p {
    height: 20px;
}

.course {
    height: 51px;
    width: 461px;
    background: #F1F3FD;
    border-radius: 17px;
    border: 1px solid #F1F3FD;
    padding: 2px;
}

.items input::placeholder {
    padding-left: 15px;
    font-size: 17px;
}

.items div button {
    width: 88px;
    height: 53px;
    text-align: center;
    background: #F1F3FD;
    color: #002851;
    border: 1px solid #F1F3FD;
    margin: .2rem 1rem 1rem 0rem;
    border-radius: 17px;
    cursor: pointer;
}

.m0 {
    display: flex !important;
}

.m3 {
    padding: 1.5rem 0 0 4rem;
}

.m3 p {
    margin-bottom: 1rem;
}

.m1 input {
    width: 224px !important;
}

::placeholder {
    font-size: 15px !important;
}
.yesVal{
    color: #CC4174;
    display: flex;
    align-items: center;
}
.items p {
    display: flex;
    align-items: center;
}
.noVal {
    color: #ACB7EB;
    display: flex;
    align-items: center;
}


.show {
    display: block;
    margin-left: 0rem !important;
}

.hide {
    display: none;
}

.next_btn {
    text-align: center;
    margin-top: 30px;
}

.btn {
    width: 200px;
    height: 65px;
    background: #066AEF;
    box-shadow: 0px 4px 14px rgba(51, 157, 255, 0.22);
    border-radius: 6px;
    border: 1px solid #066AEF;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
.hide_btn {
    visibility: hidden;
}
.show_btn {
   display: block;
}